body {
    overflow-x: hidden;
}

a {
    color: black;
}

.wrapper {
     background-color: black; 
}

.main {
     color: black; 
}

.logo-img {
    float: left;
    width: 10%;
    height: auto;
    left: 0px;
    right: 0px;
}

.logo-text {
    /* float: right; */
    font-family: Harrington;
    font-size: 110%;
    padding-top: 1%;
    padding-bottom: 2%;
    /*border-bottom: 0.5px solid gray;*/
    border-bottom: 0.06em dashed #ccc;
}

.order-summary {
     /*background-color: red; */
     background-color: white; 
    font-family: Helvetica;
    font-size: 89%;
    position: absolute;
    top: 0;
    /*left: 0;*/
    right: 0;
    width: 25%;
    height: 90%;
    /* border-bottom: 0.5px solid gray; */
    padding-left: 1em;
    /*border-left: 0.5px solid black;*/
    border-left: 0.1em dashed #ccc;
}

.order-summary-text {
    float: right;
    /*font-family: Poppins;*/
    font-family: Helvetica;
    font-size: 160%;
    /* padding-right: 5%; */
    /* border-top: 1px solid black; */
    padding-right: 17%;
    text-transform: uppercase;
    padding-top: 2.25%;
    /* border-bottom: 0.5px solid gray; */
}

.main {
    overflow: hidden;
    overflow-y: hidden;
}

.menu-categories {
    background-color: white;
    /*background-color: blue;*/
    position: absolute;
    top: 0;
    /*right: 0;*/
    left: 0;
    width: 15%;
    height: 90%;
    padding-top: 1%;
    border-left: 0.07em dashed #ccc;
}

.footer {
     background-color: yellow; 
}

.order-management {
    background-color: white;
    /*background-color: pink;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding-left: 3%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    border-top: 0.07em dashed #ccc;
}

.order-header {
     /*background-color: maroon;*/
     background-color: white; 
    width: 100%;
    height: 12.5%;
    border-right: 0.5px solid gray;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.order-items {
    /*background-color: yellow; */
    background-color: white; 
    width: 100%;
    height: 78%;
    margin-right: 1%;
    border-right: 0.5px solid gray;
    /*margin-left: 1em;*/
}

.order-total {
     /*background-color: purple; */
     background-color: white; 
    width: 100%;
    height: 8%;
    padding-top: 2%;
    font-size: 133%;
    font-weight: bold;
    border-top: 0.5px solid gray;
    border-right: 0.5px solid gray;
}

.menu-items {
    /* background-color: green; */
    position: absolute;
    top: 0;
    /*right: 15%;
    left: 25%;*/
    left: 14.5%;
    right: 25%;
    /*width: 60%;*/
    width: 58%;
    height: 90%;
    overflow-y: scroll;
    padding-right: 1.5%;
    padding-left: 3.25%;
    /*padding-left: 1.5%;
    padding-right: 3.25%;*/
}

.card {
    width: 45%;
     /*border: 1px solid rgba(0, 0, 0, 0.247); */
    float: left;
    padding-right: 1%;
    padding-top: 1%;
}

.card-content {    
    font-family: Helvetica;
    font-size: 80%;
}

.menu-categories-button-drinks {
    background-color: rgb(8, 177, 255);
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 13%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.menu-categories-button-appetizers {
    background-color: rgb(122, 76, 175);
    position: absolute;
    top: 17%;
    left: 5%;
    width: 90%;
    height: 13%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.menu-categories-button-entrees {
    background-color: rgba(255, 217, 0, 0.877);
    position: absolute;
    top: 32%;
    left: 5%;
    width: 90%;
    height: 13%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.menu-categories-button-desserts {
    background-color: rgb(235, 99, 99);
    position: absolute;
    top: 47%;
    left: 5%;
    width: 90%;
    height: 13%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.menu-categories-button-sides-and-takeout {
    background-color: blue;
    position: absolute;
    top: 62%;
    left: 5%;
    width: 90%;
    height: 13%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.menu-categories-button-promos-and-specials {
    background-color: rgb(102, 102, 102);
    position: absolute;
    top: 77%;
    left: 5%;
    width: 90%;
    height: 13%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.order-management-button-send-stay {
    background-color: rgb(255, 145, 0);
    position: absolute;
    top: 5%;
    left: 3%;
    width: 15%;
    height: 90%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.order-management-button-print {
    background-color: rgb(255, 145, 0);
    position: absolute;
    top: 5%;
    left: 22%;
    width: 15%;
    height: 90%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.order-management-button-delete {
    background-color: red;
    position: absolute;
    top: 5%;
    left: 41%;
    width: 15%;
    height: 90%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.order-management-button-finish {
    background-color: rgb(4, 2, 131);
    position: absolute;
    top: 5%;
    left: 60%;
    width: 15%;
    height: 90%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

.order-management-button-exit {
    /* background-color: #4CAF50; */
    background-color: green;
    position: absolute;
    top: 5%;
    left: 79%;
    width: 15%;
    height: 90%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
}